@font-face {
    font-family: Ubuntu Light;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf);
}

body {
    background-color: #292341;
	font-family: Ubuntu Light;
}

.axis text {
	font-size: 0.7em;
    fill: #FFFFFF;
}

.axis path, .axis line {
	fill: none;
	stroke: #AAAAAA;
}

/*
.bar .coal_total {
	fill: #FC383D;
}

.bar .pet_total {
    fill: #D36064;
}

.bar .nuclear {
    fill: #AA888B;
}

.bar .LNG {
    fill: #82AFB1;
}

.bar .hydro {
    fill: #59D7D8;
}

.bar .renew {
    fill: #30FFFF;
}
*/

.coal_total {
	fill: #FC383D;
}

.pet_total {
    fill: #D36064;
}

.nuclear {
    fill: #AA888B;
}

.LNG {
    fill: #82AFB1;
}

.hydro {
    fill: #59D7D8;
}

.renew {
    fill: #30FFFF;
}