@font-face {
    font-family: Ubuntu Light;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf);
}

@font-face {
    font-family: Ubuntu Medium;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-M.ttf);
}

@font-face {
    font-family: Ubuntu Bold;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf);
}

body {
    background-color: #292341;
	font-family: Ubuntu Light;
}

svg {
    width: 100%;
    height: auto;
}

.axis text {
    fill: #FFFFFF;
}

.axis.x text {
    font-size: 8px;
}

.axis.y text {
    font-size: 11px;
}

.axis path, .axis line {
	fill: none;
	stroke: #AAAAAA;
}

.coal_total {
	fill: #FC383D;
}

.pet_total {
    fill: #D36064;
}

.nuclear {
    fill: #AA888B;
}

.LNG {
    fill: #82AFB1;
}

.hydro {
    fill: #59D7D8;
}

.renew {
    fill: #30FFFF;
}

.index g text.name {
    fill: #000000;
    font-family: Ubuntu Medium;
    font-size: 11px;
    display: none;
}

.index g text.rate {
    fill: #FFFFFF;
    font-family: Ubuntu Medium;
    font-size: 30px;
    display: none;
}

.index .visible {
    display: block !important;
}